<div class="alert alert-info">
    
➡️ Make sure that you have read the **[rules for hand-in assignments](https://www.ida.liu.se/~TDDE16/exam.en.shtml#handins)** and the **[policy on cheating and plagiarism](https://www.ida.liu.se/~TDDE16/exam.en.shtml#cheating)** before starting with this lab.

➡️ Make sure you fill in any cells (and _only_ those cells) that say **`YOUR CODE HERE`** or **YOUR ANSWER HERE**, and do _not_ modify any of the other cells.

➡️ **Before you submit your lab, make sure everything runs as expected.** For this, _restart the kernel_ and _run all cells_ from top to bottom. In Jupyter Notebook version 7 or higher, you can do this via "Run$\rightarrow$Restart Kernel and Run All Cells..." in the menu (or the "⏩" button in the toolbar).

</div>

# L4: Information extraction

Information extraction (IE) is the task of identifying named entities and semantic relations between these entities in text data. In this lab we will focus on two sub-tasks in IE, **named entity recognition** (identifying mentions of entities) and **entity linking** (matching these mentions to entities in a knowledge base).

In [1]:
# Define some helper functions that are used in this notebook

from IPython.display import display, HTML

def success():
    display(HTML('<div class="alert alert-success"><strong>Solution appears correct!</strong></div>'))

## Data set

We start by loading spaCy. However, the data that we will be using has been tokenized following the conventions of the [Penn Treebank](ftp://ftp.cis.upenn.edu/pub/treebank/public_html/tokenization.html), and we need to prevent spaCy from using its own tokenizer on top of this. We therefore override spaCy&rsquo;s tokenizer with the default one that simply splits on whitespace.

In [2]:
import spacy
from spacy.tokenizer import Tokenizer

nlp = spacy.load('en_core_web_sm')
nlp.tokenizer = Tokenizer(nlp.vocab)

The main data set for this lab is a collection of news wire articles in which mentions of named entities have been annotated with page names from the [English Wikipedia](https://en.wikipedia.org/wiki/). The next code cell loads the training and the development parts of the data into Pandas data frames.

In [3]:
import bz2
import csv
import pandas as pd
import numpy as np

with bz2.open('ner-train.tsv.bz2', 'rt') as source:
    df_train = pd.read_csv(source, sep='\t', quoting=csv.QUOTE_NONE)

with bz2.open('ner-dev.tsv.bz2', 'rt') as source:
    df_dev = pd.read_csv(source, sep='\t', quoting=csv.QUOTE_NONE)

Each row in these two data frames corresponds to one mention of a named entity and has five columns:

1. a unique identifier for the sentence containing the entity mention
2. the pre-tokenized sentence, with tokens separated by spaces
3. the start position of the token span containing the entity mention
4. the end position of the token span (exclusive, as in Python list indexing)
5. the entity label; either a Wikipedia page name or the generic label `--NME--`

The following cell prints the first five samples from the training data:

In [4]:
df_train.head()

,sentence_id,sentence,beg,end,label
0,0000-000,EU rejects German call to boycott British lamb .,0,1,--NME--
1,0000-000,EU rejects German call to boycott British lamb .,2,3,Germany
2,0000-000,EU rejects German call to boycott British lamb .,6,7,United_Kingdom
3,0000-001,Peter Blackburn,0,2,--NME--
4,0000-002,BRUSSELS 1996-08-22,0,1,Brussels

In this sample, we see that the first sentence is annotated with three entity mentions:

* the span 0–1 &lsquo;EU&rsquo; is annotated as a mention but only labelled with the generic `--NME--`
* the span 2–3 &lsquo;German&rsquo; is annotated with the page [Germany](http://en.wikipedia.org/wiki/Germany)
* the span 6–7 &lsquo;British&rsquo; is annotated with the page [United_Kingdom](http://en.wikipedia.org/wiki/United_Kingdom)

## Problem 1: Evaluation measures

To warm up, we ask you to write code to print the three measures that you will be using for evaluation:

In [5]:
def evaluation_scores(gold, pred):
    """Print precision, recall, and F1 score.
    
    Arguments:
        gold: The set with the gold-standard values.
        pred: The set with the predicted values.
    
    Returns:
        A tuple or list containing the precision, recall, and F1 values
        (in that order), computed based on the specified sets.
    """
    # YOUR CODE HERE
    precision = len(gold.intersection(pred))/len(pred)
    recall = len(gold.intersection(pred))/len(gold)
    F1= 2/((1/precision)+(1/recall))

    return [precision, recall, F1]

Let's also define a convenience function that prints the scores nicely:

In [6]:
def print_evaluation_scores(scores):
    p, r, f = scores
    print(f"Precision: {p:.3f}, Recall: {r:.3f}, F1: {f:.3f}")

### 🤞 Test your code

To test your code, you can run the following cell. This should give you a precision of 60%, a recall of 100%, and an F1-value of 75%.

In [7]:
# Check if the results match what is expected
result = evaluation_scores(set(range(3)), set(range(5)))
assert len(result) == 3, "Should return exactly three scores"
print_evaluation_scores(result)
assert np.isclose(result, (.6, 1.0, .75)).all(), "Should be close to the expected values"
success()

Precision: 0.600, Recall: 1.000, F1: 0.750

## Problem 2: Span recognition

One of the first tasks that an information extraction system has to solve is to locate and classify (mentions of) named entities, such as persons and organizations. Here we will tackle the simpler task of recognizing **spans** of tokens that contain an entity mention, without the actual entity label.

The English language model in spaCy features a full-fledged [named entity recognizer](https://spacy.io/usage/linguistic-features#named-entities) that identifies a variety of entities, and can be updated with new entity types by the user. Your task in this problem is to evaluate the performance of this component when predicting entity spans in the development data.

### Task 2.1

Start by implementing a generator function that yields the gold-standard spans in a given data frame.  (If you're not familiar with the `yield` keyword in Python, check out [this brief explanation](https://www.nbshare.io/notebook/851988260/Python-Yield/).)

**Hint:** The Pandas method [`itertuples()`](https://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.itertuples.html) is useful when iterating over the rows in a DataFrame.

In [8]:
def gold_spans(df):
    """Yield the gold-standard mention spans in a data frame.

    Arguments:
        df: A data frame.

    Yields:
        The gold-standard mention spans in the specified data frame as
        triples consisting of the sentence id, start position, and end
        position of each span.
    """
    # YOUR CODE HERE
    for row in df.itertuples():
        yield((row[1],row[3],row[4]))

#### 🤞 Test your code

To test your code, you can run the following cell, which counts the spans yielded by your function when called on the development data (there should be 5,917 _unique_ triples), and checks if the first and last yielded triples are included in the results.

In [9]:
spans_dev_gold = set(gold_spans(df_dev))
assert len(spans_dev_gold) == 5917, "The number of unique returned triples is not correct."
assert ('0946-000', 2, 3) in spans_dev_gold, "The first expected triple is not included in the results."
assert ('1161-010', 1, 3) in spans_dev_gold, "The last expected triple is not included in the results."
success()

### Task 2.2

Your next task is to write code that calls spaCy to predict the named entities in the development data.  You should do this in form of a function that works the same as `gold_spans()`, but which returns the spans as predicted by spaCy instead.

In [10]:
# next(gold_spans(df_dev))

In [11]:
def pred_spans(df):
    """Run and evaluate spaCy's NER.

    Arguments:
        df: A data frame.

    Yields:
        The predicted mention spans in the specified data frame as
        triples consisting of the sentence id, start position, and end
        position of each span.
    """

    for row in df.itertuples():
        doc = nlp(row[2])
        for ent in doc.ents:
            yield((row[1],ent.start, ent.end))

#### 🤞 Test your code

The following cell runs the prediction and reports the evaluation measures. The expected precision is above 50%, with a recall above 70% and an F1-score around 60%.

In [12]:
spans_dev_pred = set(pred_spans(df_dev))
spans_dev_gold = set(gold_spans(df_dev))
scores = evaluation_scores(spans_dev_gold, spans_dev_pred)
print_evaluation_scores(scores)
assert scores[0] > .50, "Precision should be above 50%."
assert scores[1] > .70, "Recall should be above 70%."
success()

Precision: 0.519, Recall: 0.717, F1: 0.602

## Problem 3: Error analysis

As you were able to see in Problem&nbsp;2, the span accuracy of the named entity recognizer is far from perfect. In particular, only slightly more than half of the predicted spans are correct according to the gold standard. Your next task is to analyse this result in more detail.

Here is a function that prints the false positives as well as the false negatives spans for a data frame, given a reference set of gold-standard spans and a candidate set of predicted spans.

In [13]:
from collections import defaultdict

def error_report(df, spans_gold, spans_pred):
    false_pos = defaultdict(list)
    for s, b, e in spans_pred - spans_gold:
        false_pos[s].append((b, e))
    false_neg = defaultdict(list)
    for s, b, e in spans_gold - spans_pred:
        false_neg[s].append((b, e))
    for row in df.drop_duplicates('sentence_id').itertuples():
        if row.sentence_id in false_pos or row.sentence_id in false_neg:
            print('Sentence:', row.sentence)
            for b, e in false_pos[row.sentence_id]:
                print('  FP:', ' '.join(row.sentence.split()[b:e]))
            for b, e in false_neg[row.sentence_id]:
                print('  FN:', ' '.join(row.sentence.split()[b:e]))

### Task 3.1

1. Use the `error_report()` function above to inspect and analyse the errors that the automated prediction makes. Base your analysis on the first 500 rows of the training data. Can you see any patterns?
2. Summarize your observations in a short text.

In [14]:
# YOUR CODE HERE
error_report(df_dev.iloc[:500,:],set(gold_spans(df_dev)),set(pred_spans(df_dev)))

Sentence: CRICKET - LEICESTERSHIRE TAKE OVER AT TOP AFTER INNINGS VICTORY .
  FN: LEICESTERSHIRE
Sentence: LONDON 1996-08-30
  FP: 1996-08-30
Sentence: West Indian all-rounder Phil Simmons took four for 38 on Friday as Leicestershire beat Somerset by an innings and 39 runs in two days to take over at the head of the county championship .
  FP: Friday
  FP: 38
  FP: two days
  FP: 39
  FP: four
  FN: Somerset
Sentence: Their stay on top , though , may be short-lived as title rivals Essex , Derbyshire and Surrey all closed in on victory while Kent made up for lost time in their rain-affected match against Nottinghamshire .
  FP: Essex , Derbyshire and
  FN: Essex
  FN: Derbyshire
Sentence: After bowling Somerset out for 83 on the opening morning at Grace Road , Leicestershire extended their first innings by 94 runs before being bowled out for 296 with England discard Andy Caddick taking three for 83 .
  FP: 296
  FP: three
  FP: 83
  FP: the opening morning
  FP: 83
  FP: 94
  FP: first
  FN: Leicestershire
Sentence: Trailing by 213 , Somerset got a solid start to their second innings before Simmons stepped in to bundle them out for 174 .
  FP: 213
  FP: second
  FP: 174
Sentence: Essex , however , look certain to regain their top spot after Nasser Hussain and Peter Such gave them a firm grip on their match against Yorkshire at Headingley .
  FN: Essex
Sentence: Hussain , considered surplus to England 's one-day requirements , struck 158 , his first championship century of the season , as Essex reached 372 and took a first innings lead of 82 .
  FP: one-day
  FP: 82
  FP: first
  FP: 372
  FP: 158
  FP: first
  FN: Essex
Sentence: By the close Yorkshire had turned that into a 37-run advantage but off-spinner Such had scuttled their hopes , taking four for 24 in 48 balls and leaving them hanging on 119 for five and praying for rain .
  FP: four
  FP: 24
  FP: 119
  FP: 48
  FP: five
  FP: 37-run
  FN: Such
Sentence: At the Oval , Surrey captain Chris Lewis , another man dumped by England , continued to silence his critics as he followed his four for 45 on Thursday with 80 not out on Friday in the match against Warwickshire .
  FP: four
  FP: 80
  FP: 45
  FP: Thursday
  FP: Friday
  FN: Oval
Sentence: He was well backed by England hopeful Mark Butcher who made 70 as Surrey closed on 429 for seven , a lead of 234 .
  FP: 429
  FP: seven
  FP: 234
  FP: 70
Sentence: Derbyshire kept up the hunt for their first championship title since 1936 by reducing Worcestershire to 133 for five in their second innings , still 100 runs away from avoiding an innings defeat .
  FP: first
  FP: 1936
  FP: second
  FP: Worcestershire to 133
  FP: five
  FP: 100
  FN: Worcestershire
  FN: Derbyshire
Sentence: Australian Tom Moody took six for 82 but Chris Adams , 123 , and Tim O'Gorman , 109 , took Derbyshire to 471 and a first innings lead of 233 .
  FP: 123
  FP: 471
  FP: 233
  FP: 109
  FP: first
  FP: six
  FP: 82
  FN: Derbyshire
Sentence: After the frustration of seeing the opening day of their match badly affected by the weather , Kent stepped up a gear to dismiss Nottinghamshire for 214 .
  FP: the opening day
  FP: 214
Sentence: They were held up by a gritty 84 from Paul Johnson but ex-England fast bowler Martin McCague took four for 55 .
  FP: 55
  FP: four
  FP: 84
Sentence: By stumps Kent had reached 108 for three .
  FP: 108
  FP: three
Sentence: CRICKET - ENGLISH COUNTY CHAMPIONSHIP SCORES .
  FN: ENGLISH COUNTY CHAMPIONSHIP
Sentence: LONDON 1996-08-30
  FP: 1996-08-30
Sentence: Result and close of play scores in English county championship matches on Friday :
  FP: Friday
Sentence: Leicester : Leicestershire beat Somerset by an innings and 39 runs .
  FP: 39
  FN: Leicester
  FN: Leicestershire
  FN: Somerset
Sentence: Somerset 83 and 174 ( P. Simmons 4-38 ) , Leicestershire 296 .
  FP: 174
  FP: Leicestershire 296
  FP: 83
  FP: 4-38
  FN: Leicestershire
  FN: P. Simmons
  FN: Somerset
Sentence: Leicestershire 22 points , Somerset 4 .
  FP: 22
  FP: 4
  FN: Leicestershire
Sentence: Chester-le-Street : Glamorgan 259 and 207 ( A. Dale 69 , H. Morris 69 ; D. Blenkiron 4-43 ) , Durham 114 ( S. Watkin 4-28 ) and 81-3 .
  FP: Durham 114
  FP: Glamorgan 259
  FP: 81-3
  FP: 207
  FP: D.
  FP: H. Morris 69
  FN: S. Watkin
  FN: Chester-le-Street
  FN: Glamorgan
  FN: H. Morris
  FN: A. Dale
  FN: Durham
  FN: D. Blenkiron
Sentence: Tunbridge Wells : Nottinghamshire 214 ( P. Johnson 84 ; M. McCague 4-55 ) , Kent 108-3 .
  FP: Kent 108-3
  FP: 214
  FN: M. McCague
  FN: Tunbridge Wells
  FN: Nottinghamshire
  FN: P. Johnson
  FN: Kent
Sentence: London ( The Oval ) : Warwickshire 195 , Surrey 429-7 ( C. Lewis 80 not out , M. Butcher 70 , G. Kersey 63 , J. Ratcliffe 63 , D. Bicknell 55 ) .
  FP: J. Ratcliffe 63
  FP: G. Kersey 63
  FP: D.
  FP: 55
  FP: 195
  FP: Surrey 429-7
  FN: G. Kersey
  FN: J. Ratcliffe
  FN: The Oval
  FN: Surrey
  FN: Warwickshire
  FN: D. Bicknell
  FN: C. Lewis
Sentence: Hove : Sussex 363 ( W. Athey 111 , V. Drakes 52 ; I. Austin 4-37 ) , Lancashire 197-8 ( W. Hegg 54 )
  FP: W. Hegg 54
  FP: W. Athey 111
  FP: 363
  FP: I. Austin 4-37
  FP: 52
  FP: Lancashire 197-8
  FN: Hove
  FN: Sussex
  FN: V. Drakes
  FN: W. Athey
  FN: Lancashire
  FN: I. Austin
  FN: W. Hegg
Sentence: Portsmouth : Middlesex 199 and 426 ( J. Pooley 111 , M. Ramprakash 108 , M. Gatting 83 ) , Hampshire 232 and 109-5 .
  FP: Hampshire 232
  FP: M. Ramprakash 108
  FP: 199
  FP: 426
  FN: Middlesex
  FN: J. Pooley
  FN: Portsmouth
  FN: M. Ramprakash
  FN: Hampshire
  FN: M. Gatting
Sentence: Chesterfield : Worcestershire 238 and 133-5 , Derbyshire 471 ( J. Adams 123 , T.O'Gorman 109 not out , K. Barnett 87 ; T. Moody 6-82 )
  FP: T. Moody 6-82
  FP: K. Barnett 87
  FP: Worcestershire 238
  FP: Derbyshire 471
  FP: J. Adams 123
  FP: 109
  FN: Worcestershire
  FN: Derbyshire
  FN: T. Moody
  FN: T.O'Gorman
  FN: J. Adams
  FN: K. Barnett
Sentence: Bristol : Gloucestershire 183 and 185-6 ( J. Russell 56 not out ) , Northamptonshire 190 ( K. Curran 52 ; A. Smith 5-68 ) .
  FP: 183
  FP: J. Russell 56
  FP: 5-68
  FP: 190
  FN: J. Russell
  FN: K. Curran
  FN: Gloucestershire
Sentence: CRICKET - 1997 ASHES INTINERARY .
  FN: ASHES
Sentence: LONDON 1996-08-30
  FP: 1996-08-30
Sentence: Australia will defend the Ashes in
  FN: Ashes
Sentence: starting on May 13 next year , the Test and County Cricket Board
  FP: May 13 next year
  FN: Test and County Cricket Board
Sentence: Australia will also play three one-day internationals and
  FP: three
Sentence: as well as one-day matches against the Minor Counties and
  FP: one-day
  FN: Minor Counties
Sentence: May 13 Arrive in London
  FP: May 13
Sentence: May 14 Practice at Lord 's
  FP: May 14
  FN: Lord 's
Sentence: May 15 v Duke of Norfolk 's XI ( at Arundel )
  FP: May 15 v Duke of Norfolk 's
  FN: Arundel
  FN: Duke of Norfolk 's XI
Sentence: May 17 v Northampton
  FP: May 17
Sentence: May 18 v Worcestershire
  FP: May 18
  FN: Worcestershire
Sentence: May 20 v Durham
  FP: May 20 v Durham
  FN: Durham
Sentence: May 22 First one-day international ( at Headingley ,
  FP: First
  FP: May 22
Sentence: May 24 Second one-day international ( at The Oval ,
  FP: Second
  FP: May 24
Sentence: May 25 Third one-day international ( at Lord 's , London )
  FP: May 25 Third one-day
  FN: Lord 's
Sentence: May 27-29 v Gloucestershire or Sussex or Surrey ( three
  FP: three
  FP: May 27-29
  FN: Gloucestershire
Sentence: May 31 - June 2 v Derbyshire ( three days )
  FP: May 31 - June 2 v Derbyshire
  FP: three days
  FN: Derbyshire
Sentence: June 5-9 First test match ( at Edgbaston , Birmingham )
  FP: June 5-9
  FP: First
Sentence: June 14-16 v Leicestershire ( three days )
  FP: June 14-16 v Leicestershire
  FP: three days
  FN: Leicestershire
Sentence: June 19-23 Second test ( at Lord 's )
  FP: Second
  FP: June 19-23
  FN: Lord 's
Sentence: June 25-27 v British Universities ( at Oxford , three days )
  FP: June 25-27
  FP: British
  FP: three days
  FN: British Universities
Sentence: June 28-30 v Hampshire ( three days )
  FP: three days
  FP: June 28-30 v Hampshire
  FN: Hampshire
Sentence: July 3-7 Third test ( at Old Trafford , Manchester )
  FP: Third
  FP: July 3-7
Sentence: July 9 v Minor Counties XI
  FP: July 9
  FN: Minor Counties XI
Sentence: July 12 v Scotland
  FP: July 12
Sentence: July 16-18 v Glamorgan ( three days )
  FP: July 16-18
  FP: three days
Sentence: July 19-21 v Middlesex ( three days )
  FP: July 19-21
  FP: three days
Sentence: July 24-28 Fourth test ( at Headingley )
  FP: July 24-28
  FP: Fourth
Sentence: August 1-4 v Somerset ( four days )
  FP: four days
  FP: August 1-4
Sentence: August 7-11 Fifth test ( at Trent Bridge , Nottingham )
  FP: Fifth
  FP: August
Sentence: August 16-18 v Kent ( three days )
  FP: August 16-18
  FP: three days
Sentence: August 21-25 Sixth test ( at The Oval , London ) .
  FP: Sixth
  FP: August
Sentence: SOCCER - SHEARER NAMED AS ENGLAND CAPTAIN .
  FN: ENGLAND
  FN: SHEARER
Sentence: LONDON 1996-08-30
  FP: 1996-08-30
Sentence: The world 's costliest footballer Alan Shearer was named as the new England captain on Friday .
  FP: Friday
Sentence: The 26-year-old , who joined Newcastle for 15 million pounds sterling ( $ 23.4 million ) , takes over from Tony Adams , who led the side during the European championship in June , and former captain David Platt .
  FP: $ 23.4 million
  FP: June
  FP: 15 million pounds
Sentence: Adams and Platt are both injured and will miss England 's opening World Cup qualifier against Moldova on Sunday .
  FP: Sunday
  FN: Adams
  FN: Platt
Sentence: Shearer takes the captaincy on a trial basis , but new coach Glenn Hoddle said he saw no reason why the former Blackburn and Southampton skipper should not make the post his own .
  FN: Shearer
Sentence: " I 'm sure there wo n't be a problem , I 'm sure Alan is the man for the job , " Hoddle said .
  FN: Hoddle
Sentence: " There were three or four people who could have done it but when I spoke to Alan he was up for it and really wanted it .
  FP: three
  FP: four
Sentence: Shearer 's Euro 96 striking partner Teddy Sheringham withdrew from the squad with an injury on Friday .
  FP: Friday
  FP: Shearer 's
  FN: Shearer
Sentence: BELGRADE 1996-08-30
  FP: 1996-08-30
Sentence: Red Star ( Yugoslavia ) beat Dinamo ( Russia ) 92-90 ( halftime
  FP: 92-90
Sentence: SOCCER - ROMANIA BEAT LITHUANIA IN UNDER-21 MATCH .
  FN: ROMANIA
  FN: LITHUANIA
Sentence: BUCHAREST 1996-08-30
  FP: BUCHAREST 1996-08-30
  FN: BUCHAREST
Sentence: Romania beat Lithuania 2-1 ( halftime 1-1 ) in their European under-21 soccer match on Friday .
  FP: 2-1
  FP: halftime 1-1
  FP: Friday
Sentence: Romania - Cosmin Contra ( 31st ) , Mihai Tararache ( 75th )
  FP: 75th
  FP: 31st
  FP: Romania - Cosmin Contra
  FN: Cosmin Contra
  FN: Romania
Sentence: Lithuania - Danius Gleveckas ( 13rd )
  FP: 13rd
  FN: Danius Gleveckas
Sentence: SOCCER - ROTOR FANS LOCKED OUT AFTER VOLGOGRAD VIOLENCE .
  FN: ROTOR
  FN: VOLGOGRAD
Sentence: MOSCOW 1996-08-30
  FP: 1996-08-30
Sentence: Rotor Volgograd must play their next home game behind closed doors after fans hurled bottles and stones at Dynamo Moscow players during a 1-0 home defeat on Saturday that ended Rotor 's brief spell as league leaders .
  FP: Saturday
  FP: Volgograd
  FN: Rotor
  FN: Rotor Volgograd
Sentence: The head of the Russian league 's disciplinary committee , Anatoly Gorokhovsky , said on Friday that Rotor would play Lada Togliatti to empty stands on September 3 .
  FP: September 3
  FP: Friday
  FN: Rotor
Sentence: The club , who put Manchester United out of last year 's UEFA Cup , were fined $ 1,000 .
  FP: 1,000
  FP: last year 's
Sentence: Despite the defeat , Rotor are well placed with 11 games to play in the championship .
  FP: 11
  FN: Rotor
Sentence: Lying three points behind Alania and two behind Dynamo Moscow , the Volgograd side have a game in hand over the leaders and two over the Moscow club .
  FP: two
  FP: three
  FP: two
Sentence: BOXING - PANAMA 'S ROBERTO DURAN FIGHTS THE SANDS OF TIME .
  FN: PANAMA
  FN: ROBERTO DURAN
Sentence: PANAMA CITY 1996-08-30
  FP: PANAMA
  FN: PANAMA CITY
Sentence: Panamanian boxing legend Roberto " Hands of Stone " Duran climbs into the ring on Saturday in another age-defying attempt to sustain his long career .
  FP: Saturday
  FP: Roberto " Hands of Stone
  FP: Duran
  FN: Roberto " Hands of Stone " Duran
Sentence: Duran , 45 , takes on little-known Mexican Ariel Cruz , 30 , in a super middleweight non-title bout in Panama City .
  FP: 45
  FP: 30
Sentence: The fight , Duran 's first on home soil for 10 years , is being billed here as the " Return of the Legend " and Duran still talks as if he was in his prime .
  FP: first
  FP: 10 years
Sentence: If he loses Saturday , it could devalue his position as one of the world 's great boxers , " Panamanian Boxing Association President Ramon Manzanares said .
  FP: Saturday
  FP: Panamanian Boxing Association
  FN: Panamanian
  FN: Boxing Association
Sentence: Duran , whose 97-12 record spans three decades , hopes a win in the 10-round bout will earn him a rematch against Puerto Rico 's Hector " Macho " Camacho .
  FP: 97-12
  FP: three decades
  FP: Puerto Rico 's
  FP: 10-round
  FN: Hector " Macho " Camacho
  FN: Puerto Rico
Sentence: Camacho took a controversial points decision against the Panamanian in Atlantic City in June in a title fight .
  FP: June
Sentence: SQUASH - HONG KONG OPEN QUARTER-FINAL RESULTS .
  FN: HONG KONG OPEN
Sentence: HONG KONG 1996-08-30
  FP: 1996-08-30
Sentence: Quarter-final results in the Hong Kong Open on Friday ( prefix number denotes seeding ) : 1 - Jansher Khan ( Pakistan ) beat Mark Cairns ( England ) 15-10 15-6 15-7
  FP: 1
  FP: Friday
  FP: the Hong Kong Open
  FP: 15-10 15-6
  FN: Hong Kong Open
  FN: Jansher Khan
Sentence: Anthony Hill ( Australia ) beat Dan Jenson ( Australia ) 15-9 15-8 15-17 17-15
  FP: 17-15
  FP: 15-9 15-8
Sentence: 4 - Peter Nicol ( Scotland ) beat 7 - Chris Walker ( England ) 15-8 15-13 13-15 15-9
  FP: 15-9
  FP: 4
  FP: 7
  FN: Peter Nicol
  FN: Chris Walker
Sentence: 2 - Rodney Eyles ( Australia ) beat Derek Ryan ( Ireland ) 15-6 15-9 11-15 15-10 .
  FP: 2 - Rodney Eyles
  FP: 11-15 15-10
  FN: Rodney Eyles
Sentence: SOCCER - RESULTS OF SOUTH KOREAN PRO-SOCCER GAMES .
  FN: SOUTH KOREAN
Sentence: Pohang 3 Ulsan 2 ( halftime 1-0 )
  FP: Pohang 3 Ulsan
  FN: Ulsan
  FN: Pohang
Sentence: Puchon 2 Chonbuk 1 ( halftime 1-1 )
  FP: halftime 1-1
  FN: Puchon
  FN: Chonbuk
Sentence: Puchon 3 1 0 6 1 10
  FP: 3 1
  FN: Puchon
Sentence: Chonan 3 0 1 13 10 9
  FP: 3
  FN: Chonan
Sentence: Pohang 2 1 1 11 10 7
  FP: 2 1 1
  FN: Pohang
Sentence: Suwan 1 3 0 7 3 6
  FP: 0
  FP: Suwan 1 3
  FN: Suwan
Sentence: Anyang 0 3 1 6 9 3
  FP: 0
  FN: Anyang
Sentence: Chonnam 0 2 1 4 5 2
  FN: Chonnam
Sentence: Pusan 0 2 1 3 7 2
  FN: Pusan
Sentence: Chonbuk 0 0 3 3 7 0
  FP: 3
  FP: 0
  FN: Chonbuk
Sentence: BASEBALL - RESULTS OF S. KOREAN PROFESSIONAL GAMES .
  FN: S. KOREAN
Sentence: LG 2 OB 0
  FP: 0
  FN: LG
  FN: OB
Sentence: Lotte 6 Hyundai 2
  FP: 2
  FP: 6
  FN: Lotte
Sentence: Hyundai 6 Lotte 5
  FP: 6
  FN: Lotte
Sentence: Haitai 2 Samsung 0
  FP: Haitai 2 Samsung
  FN: Samsung
  FN: Haitai
Sentence: Samsung 10 Haitai 3
  FP: 3
  FP: 10
  FN: Haitai
Sentence: Hanwha 6 Ssangbangwool 5
  FN: Ssangbangwool
Sentence: Note - Lotte and Hyundai , Haitai and Samsung played two games .
  FP: two
  FN: Lotte
Sentence: Haitai 64 2 43 .596 -
  FP: 64
Sentence: Ssangbangwool 59 2 49 .545 5 1/2
  FP: 59
  FP: 5 1/2
  FP: 49
  FN: Ssangbangwool
Sentence: Hanwha 58 1 49 .542 6
  FP: 58 1 49
Sentence: Hyundai 57 5 49 .536 6 1/2
  FP: 5
  FP: 57
  FP: .536
  FP: 6 1/2
Sentence: Samsung 49 5 56 .468 14
  FP: 49
  FP: 5
Sentence: Lotte 46 6 54 .462 14 1/2
  FP: 14 1/2
  FP: 46
  FP: 54
  FN: Lotte
Sentence: LG 46 5 59 .441 17
  FP: 17
  FP: 46 5
  FP: 59
Sentence: OB 42 6 62 .409 20 1/2
  FP: 62
  FP: 42
  FP: 1/2
  FN: OB
Sentence: TENNIS - FRIDAY 'S RESULTS FROM THE U.S. OPEN .
  FP: U.S.
  FN: U.S. OPEN
Sentence: NEW YORK 1996-08-30
  FP: 1996-08-30
Sentence: Results from the U.S. Open Tennis Championships at the National Tennis Centre on Friday ( prefix number denotes seeding ) :
  FP: the U.S. Open Tennis Championships
  FP: Friday
  FP: the National Tennis Centre
  FN: U.S. Open Tennis Championships
  FN: National Tennis Centre
Sentence: Sandrine Testud ( France ) beat Ines Gorrochategui ( Argentina ) 4-6 6-2 6-1
  FP: 4-6
Sentence: 4 - Goran Ivanisevic ( Croatia ) beat Scott Draper ( Australia ) 6-7 ( 1-7 ) 6-3 6-4 6-4
  FP: 6-4
  FP: 4
  FP: 1-7
  FN: Goran Ivanisevic
Sentence: Tim Henman ( Britain ) beat Doug Flach ( U.S. ) 6-3 6-4 6-2
  FP: 6-4
Sentence: Mark Philippoussis ( Australia ) beat Andrei Olhovskiy ( Russia ) 6 - 3 6-4 6-2
  FP: 6 - 3
Sentence: Sjeng Schalken ( Netherlands ) beat David Rikl ( Czech Republic ) 6 - 2 6-4 6-4
  FP: 6 - 2
  FP: 6-4
  FN: Czech Republic
Sentence: Guy Forget ( France ) beat 17 - Felix Mantilla ( Spain ) 6-4 7-5 6-3
  FP: 17
  FP: 6-4
  FN: Felix Mantilla
Sentence: Alexander Volkov ( Russia ) beat Mikael Tillstrom ( Sweden ) 1-6 6- 4 6-1 4-6 7-6 ( 10-8 )
  FP: 1-6
  FP: 10-8
Sentence: Jonas Bjorkman ( Sweden ) beat David Nainkin ( South Africa ) ) 6-4 6-1 6-1
  FP: 6-4 6-1 6-1
Sentence: 8 - Lindsay Davenport ( U.S. ) beat Anne-Gaelle Sidot ( France ) 6-0 6-3
  FP: 6-3
  FP: 8
  FN: Lindsay Davenport
Sentence: 4 - Conchita Martinez ( Spain ) beat Helena Sukova ( Czech Republic ) 6-4 6-3
  FP: 4
  FP: 6-4 6-3
  FN: Conchita Martinez
Sentence: Amanda Coetzer ( South Africa ) beat Irina Spirlea ( Romania ) 7-6 ( 7-5 ) 7-5
  FP: 7-5
  FP: 7-6
Sentence: Add Men 's singles , second round 16 - Cedric Pioline ( France ) beat Roberto Carretero ( Spain ) 4-6 6 - 2 6-2 6-1 Alex Corretja ( Spain ) beat Filippo Veglio ( Switzerland ) 6-7 ( 4- 7 ) 6-4 6-4 6-0
  FP: 4-6
  FP: 6
  FP: 7
  FP: Add Men 's
  FP: second
  FP: 16
  FN: Cedric Pioline
Sentence: Add Women 's singles , third round Linda Wild ( U.S. ) beat Barbara Rittner ( Germany ) 6-4 4-6 7-5 Asa Carlsson ( Sweden ) beat 15 - Gabriela Sabatini ( Argentina ) 7-5 3-6 6-2
  FP: 3-6
  FP: third
  FP: Carlsson
  FP: 6-4
  FP: 15
  FN: Asa Carlsson
  FN: Gabriela Sabatini
Sentence: Add Men 's singles , second round 1 - Pete Sampras ( U.S. ) beat Jiri Novak ( Czech Republic ) 6-3 1-6 6-3 4-6 6-4 Paul Haarhuis ( Netherlands ) beat Michael Tebbutt ( Australia ) 1- 6 6-2 6-2 6-3
  FP: 6-4
  FP: 6-3
  FP: 6-3
  FP: 1
  FP: second
  FP: 6
  FP: Add Men 's
  FP: 6-2 6-3
Sentence: Add Women 's singles , third round Lisa Raymond ( U.S. ) beat Kimberly Po ( U.S. ) 6-3 6-2
  FP: 6-2
  FP: third
Sentence: Andrei Medvedev ( Ukraine ) beat Jan Kroslak ( Slovakia ) 6-4 6-3
  FP: 6-4
Sentence: Petr Korda ( Czech Republic ) bat Bohdan Ulihrach ( Czech Republic ) 6-0 7-6 ( 7-5 ) 6-2
  FP: 7-5
Sentence: 2 - Monica Seles ( U.S. ) beat Dally Randriantefy ( Madagascar )
  FP: 2 - Monica Seles
  FP: Dally Randriantefy ( Madagascar
  FN: Monica Seles
  FN: Dally Randriantefy
  FN: Madagascar
Sentence: Add men 's singles , second round 12 - Todd Martin ( U.S. ) beat Andrea Gaudenzi ( Italy ) 6-3 6-2 6-2 Stefan Edberg ( Sweden ) beat Bernd Karbacher ( Germany ) 3-6 6-3 6-3 1-0 retired ( leg injury )
  FP: 6-2
  FP: 12
  FP: second
  FP: 3-6 6-3
Sentence: BASEBALL - MAJOR LEAGUE STANDINGS AFTER THURSDAY 'S GAMES .
  FP: THURSDAY
  FN: MAJOR LEAGUE
Sentence: NEW YORK 1996-08-30
  FP: 1996-08-30
Sentence: AMERICAN LEAGUE EASTERN DIVISION
  FP: AMERICAN LEAGUE EASTERN
  FN: AMERICAN LEAGUE EASTERN DIVISION
Sentence: NEW YORK 74 59 .556 -
  FP: 74 59
  FP: .556 -
Sentence: BALTIMORE 70 63 .526 4
  FP: 63
Sentence: BOSTON 69 65 .515 5 1/2
  FP: 69 65
  FP: 5 1/2
Sentence: TORONTO 63 71 .470 11 1/2
  FP: 63
  FP: 71
  FP: 11 1/2
Sentence: DETROIT 48 86 .358 26 1/2
  FP: 48
  FP: 86
  FP: .358
Sentence: CENTRAL DIVISION
  FP: CENTRAL
  FN: CENTRAL DIVISION

**Summary**:

Most of errors belong to FP error. Accoding to the analysis result, we can see that most of false positive errors are about "ORDINAL","DATE","CARDINAL". These elements are not likely to appear in Wikipedia as entities. From this we can conclude that only entities that are relevant to wikipedia are saved in df_dev dataset.

### Task 3.2

Now, use the insights from your error analysis to improve the automated prediction that you implemented in Problem&nbsp;2. While the best way to do this would be to [update spaCy&rsquo;s NER model](https://spacy.io/usage/linguistic-features#updating) using domain-specific training data, for this lab it suffices to write code to post-process the output produced by spaCy. To filter out specific labels it is useful to know the named entity label scheme, which can be found in the [model's documentation](https://spacy.io/models/en#en_core_web_sm). You should be able to improve the F1 score from Problem&nbsp;2 by at least 15 percentage points.

In [15]:
'''
def pred_spans_improved(df):
    """Run and evaluate spaCy's NER, with post-processing to improve the results.

    Arguments:
        df: A data frame.

    Yields:
        The predicted mention spans in the specified data frame as
        triples consisting of the sentence id, start position, and end
        position of each span.
    """
    # YOUR CODE HERE
    for row in df.itertuples():
        doc = nlp(row[2])
        for ent in doc.ents:
            if ent.label_!= 'ORDINAL'and ent.label_!= 'DATE' and ent.label_ != 'CARDINAL':
                yield((row[1],ent.start, ent.end)) 

                '''

'\ndef pred_spans_improved(df):\n    """Run and evaluate spaCy\'s NER, with post-processing to improve the results.\n\n    Arguments:\n        df: A data frame.\n\n    Yields:\n        The predicted mention spans in the specified data frame as\n        triples consisting of the sentence id, start position, and end\n        position of each span.\n    """\n    # YOUR CODE HERE\n    for row in df.itertuples():\n        doc = nlp(row[2])\n        for ent in doc.ents:\n            if ent.label_!= \'ORDINAL\'and ent.label_!= \'DATE\' and ent.label_ != \'CARDINAL\':\n                yield((row[1],ent.start, ent.end)) \n\n                '

In [16]:
def pred_spans_improved(df):
    """Run and evaluate spaCy's NER, with post-processing to improve the results.

    Arguments:
        df: A data frame.

    Yields:
        The predicted mention spans in the specified data frame as
        triples consisting of the sentence id, start position, and end
        position of each span.
    """
    # YOUR CODE HERE
    for row in df.itertuples():
        doc = nlp(row[2])
        for ent in doc.ents:
            if ent.label_!= 'ORDINAL'and ent.label_!= 'DATE' and ent.label_ != 'CARDINAL' and ent.label_ != 'MONEY' and ent.label_ != 'PERCENT' and ent.label_ != 'QUANTITY' and ent.label_ != 'TIME':
                yield((row[1],ent.start, ent.end))

#### 🤞 Test your code

The following cell reports the evaluation measures from the new function and tests if you achieve the performance goal.

In [17]:
scores_old = evaluation_scores(spans_dev_gold, spans_dev_pred)
scores_new = evaluation_scores(spans_dev_gold, set(pred_spans_improved(df_dev)))
print_evaluation_scores(scores_new)
assert scores_new[-1] - scores_old[-1] > .15, "F1-score should improve by at least 15 percentage points."
success()

Precision: 0.859, Recall: 0.716, F1: 0.781

### Task 3.3

Before moving on, we ask you to store the outputs of the improved named entity recognizer on the development data in a new data frame. This new frame should have the same layout as the original data frame for the development data that you loaded above, but should contain the *predicted* start and end positions for each token span, rather than the gold positions. As the `label` of each span, you can use the special value `--NME--`.

In [18]:
def df_with_pred_spans(df):
    """Make a new DataFrame with *predicted* NER spans.

    Arguments:
        df: A data frame.

    Returns:
        A *new* data frame with the same layout as `df`t contain, buing
        the predicted start and end positions for each token span.
    """
    # YOUR CODE HERE
    new_dataframe = pd.DataFrame(columns=["sentence_id","sentence","beg","end","label"])
    #list =[]
    for row in df.itertuples():
        doc = nlp(row[2])
        for ent in doc.ents:
            if ent.label_!= 'ORDINAL'and ent.label_!= 'DATE' and ent.label_ != 'CARDINAL' and ent.label_ != 'MONEY' and ent.label_ != 'PERCENT' and ent.label_ != 'QUANTITY' and ent.label_ != 'TIME':
                sentence_id = row[1]
                sentence = row[2]
                beg= ent.start
                end= ent.end
                
                new_row = pd.DataFrame([[sentence_id,sentence,beg,end,"--NNE--"]],
                                       columns=["sentence_id","sentence","beg","end","label"])
                #list.append([sentence_id,sentence,beg,end,"--NNE--"])
                new_dataframe=pd.concat([new_dataframe,new_row])
    return (new_dataframe)

#### 🤞 Test your code

Run the following cell to run your function and display the first few lines of the new data frame:

In [19]:
df_dev_pred = df_with_pred_spans(df_dev)
display(df_dev_pred.head())

,sentence_id,sentence,beg,end,label
0,0946-001,LONDON 1996-08-30,0,1,--NNE--
0,0946-002,West Indian all-rounder Phil Simmons took four...,0,2,--NNE--
0,0946-002,West Indian all-rounder Phil Simmons took four...,3,5,--NNE--
0,0946-002,West Indian all-rounder Phil Simmons took four...,12,13,--NNE--
0,0946-002,West Indian all-rounder Phil Simmons took four...,0,2,--NNE--

In [20]:
row = df_dev_pred.iloc[1]
' '.join(row.sentence.split()[row.beg:row.end])

'West Indian'

## Problem 4: Entity linking

Now that we have a method for predicting mention spans, we turn to the task of **entity linking**, which amounts to predicting the knowledge base entity that is referenced by a given mention. In our case, for each span we want to predict the Wikipedia page that this mention references.

### Task 4.1

Start by extending the generator function that you implemented in Task&nbsp;2.1 to labelled spans.

In [21]:
def gold_mentions(df):
    """Yield the gold-standard mentions in a data frame.

    Args:
        df: A data frame.

    Yields:
        The gold-standard mention spans in the specified data frame as
        quadruples consisting of the sentence id, start position, end
        position and entity label of each span.
    """
    # YOUR CODE HERE
    for row in df.itertuples():
        yield((row[1],row[3],row[4],row[5]))

#### 🤞 Test your code

To test your code, you can run the following cell, which counts the spans yielded by your function when called on the development data (there should still be 5,917 unique tuples, just as in Task 2.1), and checks if some expected tuples are included in the results.

In [22]:
mentions_dev_gold = set(gold_mentions(df_dev))
assert len(mentions_dev_gold) == 5917, "The number of unique returned quadruples should be the same as before."
assert ('0966-159', 1, 3, '--NME--') in mentions_dev_gold, "An expected tuple is not included in the results."
assert ('1094-020', 0, 1, 'Seattle_Mariners') in mentions_dev_gold, "An expected tuple is not included in the results."
success()

In [23]:
'''
i = 1
for element in mentions_dev_gold:
    print(element)
    i+=1
    if i >10:
        break
        '''

'\ni = 1\nfor element in mentions_dev_gold:\n    print(element)\n    i+=1\n    if i >10:\n        break\n        '

### Task 4.2

A naive baseline for entity linking on our data set is to link each mention span to the Wikipedia page name that we get when we join the tokens in the span by underscores, as is standard in Wikipedia page names. Suppose, for example, that a span contains the two tokens

    Jimi Hendrix

The baseline Wikipedia page name for this span would be

    Jimi_Hendrix

Implement this naive baseline and evaluate its performance.

**Here and in the remainder of this lab, you should base your entity predictions on the predicted spans that you computed in Problem&nbsp;3.**

In [24]:
'''
import requests
def baseline(df):
    """A naive baseline for entity linking that "predicts" Wikipedia
       page names from the tokens in the mention span.

    Arguments:
        df: A data frame.

    Yields:
        The predicted mention spans in the specified data frame as
        quadruples consisting of the sentence id, start position, end
        position and the predicted entity label of each span.
    """
    # YOUR CODE HERE
    for row in df.itertuples():
        doc = nlp(row[2])
        for ent in doc.ents:
            if ent.label_!= 'ORDINAL'and ent.label_!= 'DATE' and ent.label_ != 'CARDINAL':
                
                # the following part is used to get "name_wiki".
                kb_id = ent.kb_id_
                wikidata_api_url = f'https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids={kb_id}'
                response = requests.get(wikidata_api_url)
                data = response.json()
                name_wiki = data['entities'][kb_id]['labels']['en']['value'].replace(" ","_")

                yield((row[1],ent.start, ent.end, name_wiki))
                '''

'\nimport requests\ndef baseline(df):\n    """A naive baseline for entity linking that "predicts" Wikipedia\n       page names from the tokens in the mention span.\n\n    Arguments:\n        df: A data frame.\n\n    Yields:\n        The predicted mention spans in the specified data frame as\n        quadruples consisting of the sentence id, start position, end\n        position and the predicted entity label of each span.\n    """\n    # YOUR CODE HERE\n    for row in df.itertuples():\n        doc = nlp(row[2])\n        for ent in doc.ents:\n            if ent.label_!= \'ORDINAL\'and ent.label_!= \'DATE\' and ent.label_ != \'CARDINAL\':\n                \n                # the following part is used to get "name_wiki".\n                kb_id = ent.kb_id_\n                wikidata_api_url = f\'https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids={kb_id}\'\n                response = requests.get(wikidata_api_url)\n                data = response.json()\n                name_wiki = data[\'entities\'][kb_id][\'labels\'][\'en\'][\'value\'].replace(" ","_")\n\n                yield((row[1],ent.start, ent.end, name_wiki))\n                '

In [25]:
def baseline(df):
    """A naive baseline for entity linking that "predicts" Wikipedia
       page names from the tokens in the mention span.

    Arguments:
        df: A data frame.

    Yields:
        The predicted mention spans in the specified data frame as
        quadruples consisting of the sentence id, start position, end
        position and the predicted entity label of each span.
    """
    # YOUR CODE HERE
    for row in df.itertuples():
        doc = nlp(row[2])
        for ent in doc.ents:
            if ent.label_!= 'ORDINAL'and ent.label_!= 'DATE' and ent.label_ != 'CARDINAL' and ent.label_ != 'MONEY' and ent.label_ != 'PERCENT' and ent.label_ != 'QUANTITY' and ent.label_ != 'TIME':
                yield((row[1],ent.start, ent.end, '_'.join(row[2].split(' ')[ent.start:ent.end])))

In [26]:
# test=set(baseline(df_dev_pred))

In [27]:
# df_dev.iloc[4]

In [28]:
'''
i = 1
for element in test:
    print(element)
    i+=1
    if i >500:
        break 
        '''

'\ni = 1\nfor element in test:\n    print(element)\n    i+=1\n    if i >500:\n        break \n        '

#### 🤞 Test your code

Again, we can turn to the evaluation measures that we implemented in Problem&nbsp;1.  The expected precision should be around 32%, with an F1-score around 29%.

In [29]:
'''
def error_report_2(df, spans_gold, spans_pred):
    false_pos = defaultdict(list)
    for s, b, e, c in spans_pred - spans_gold:
        false_pos[s].append((b, e, c))
    false_neg = defaultdict(list)
    for s, b, e, c in spans_gold - spans_pred:
        false_neg[s].append((b, e, c))
    for row in df.drop_duplicates('sentence_id').itertuples():
        if row.sentence_id in false_pos or row.sentence_id in false_neg:
            print('Sentence:', row.sentence)
            for b, e, c in false_pos[row.sentence_id]:
                print('  FP:', ' '.join(row.sentence.split()[b:e]),c)
            for b, e, c in false_neg[row.sentence_id]:
                print('  FN:', ' '.join(row.sentence.split()[b:e]),c)
                '''

"\ndef error_report_2(df, spans_gold, spans_pred):\n    false_pos = defaultdict(list)\n    for s, b, e, c in spans_pred - spans_gold:\n        false_pos[s].append((b, e, c))\n    false_neg = defaultdict(list)\n    for s, b, e, c in spans_gold - spans_pred:\n        false_neg[s].append((b, e, c))\n    for row in df.drop_duplicates('sentence_id').itertuples():\n        if row.sentence_id in false_pos or row.sentence_id in false_neg:\n            print('Sentence:', row.sentence)\n            for b, e, c in false_pos[row.sentence_id]:\n                print('  FP:', ' '.join(row.sentence.split()[b:e]),c)\n            for b, e, c in false_neg[row.sentence_id]:\n                print('  FN:', ' '.join(row.sentence.split()[b:e]),c)\n                "

In [30]:
# error_report_2(df_dev.iloc[:100,:],mentions_dev_gold,set(baseline(df_dev_pred)))

In [31]:
scores = evaluation_scores(mentions_dev_gold, set(baseline(df_dev_pred)))
print_evaluation_scores(scores)
assert .31 < scores[0] < .32, "Precision should be between 31% and 32%."
assert .28 < scores[-1] < .29, "F1-score should be between 28% and 29%."
success()

Precision: 0.315, Recall: 0.263, F1: 0.287

## Problem 5: Extending the training data using the knowledge base

State-of-the-art approaches to entity linking exploit information in knowledge bases. In our case, where Wikipedia is the knowledge base, one particularly useful type of information are links to other Wikipedia pages. In particular, we can interpret the anchor texts (the highlighted texts that you click on) as mentions of the entities (pages) that they link to. This allows us to harvest long lists of mention–entity pairings.

The following cell loads a data frame summarizing anchor texts and page references harvested from the first paragraphs of the English Wikipedia. The data frame also contains all entity mentions in the training data (but not the development or the test data).

In [32]:
with bz2.open('kb.tsv.bz2', 'rt') as source:
    df_kb = pd.read_csv(source, sep='\t', quoting=csv.QUOTE_NONE)

To understand what information is available in this data, the following cell shows the entry for the anchor text `Sweden`.

In [33]:
df_kb.loc[df_kb.mention == 'Sweden']

      mention                                 entity      prob
17436  Sweden                                 Sweden  0.985768
17437  Sweden          Sweden_national_football_team  0.014173
17438  Sweden  Sweden_men's_national_ice_hockey_team  0.000059

As you can see, each row of the data frame contains a pair $(m, e)$ of a mention $m$ and an entity $e$, as well as the conditional probability $P(e|m)$ for mention $m$ referring to entity $e$. These probabilities were estimated based on the frequencies of mention–entity pairs in the knowledge base. The example shows that the anchor text &lsquo;Sweden&rsquo; is most often used to refer to the entity [Sweden](http://en.wikipedia.org/wiki/Sweden), but in a few cases also to refer to Sweden&rsquo;s national football and ice hockey teams. Note that references are sorted in decreasing order of probability, so that the most probable pairing come first.

Implement an entity linking method that resolves each mention to the most probable entity in the data frame. If the mention is not included in the data frame, you can predict the generic label `--NME--`.

In [34]:
df_kb.loc[df_kb.mention=="1972 Munich Games"]

              mention                entity  prob
47  1972 Munich Games  1972_Summer_Olympics   1.0

In [35]:
def most_probable_method(df, df_kb):
    """An entity linker that resolves each mention to the most probably entity in a knowledge base.

    Arguments:
        df: A data frame containing the mention spans.
        df_kb: A data frame containing the knowledge base.

    Yields:
        The predicted mention spans in the specified data frame as
        quadruples consisting of the sentence id, start position, end
        position and the predicted entity label of each span.
    """
    # YOUR CODE HERE
    for row in df.itertuples():
        mention = ' '.join(row.sentence.split()[row.beg:row.end])
        if len(df_kb.loc[df_kb.mention == mention]) == 0:
            label = '--NME--'
        else:
           label = df_kb.loc[df_kb.mention == mention].entity.iloc[0]
        yield(row.sentence_id,row.beg,row.end,label)

### 🤞 Test your code

We run the same evaluation as before. The expected precision should now be above 65%, with an F1-score just around 60%.

In [36]:
scores = evaluation_scores(mentions_dev_gold, set(most_probable_method(df_dev_pred, df_kb)))
print_evaluation_scores(scores)
assert scores[0] > .65, "Precision should be above 65%."
assert .59 < scores[-1] < .61, "F1-score should be around 60%."
success()

Precision: 0.659, Recall: 0.549, F1: 0.599

## Problem 6: Context-sensitive disambiguation

Consider the entity mention &lsquo;Lincoln&rsquo;. The most probable entity for this mention turns out to be [Lincoln, Nebraska](http://en.wikipedia.org/Lincoln,_Nebraska); but in pages about American history, we would be better off to predict [Abraham Lincoln](http://en.wikipedia.org/Abraham_Lincoln). This suggests that we should try to disambiguate between different entity references based on the textual context on the page from which the mention was taken. Your task in this last problem is to implement this idea.

Set up a dictionary that contains, for each mention $m$ that can refer to more than one entity $e$, a separate Naive Bayes classifier that is trained to predict the correct entity $e$, given the textual context of the mention. As the prior probabilities of the classifier, choose the probabilities $P(e|m)$ that you used in Problem&nbsp;5. To let you estimate the context-specific probabilities, we have compiled a data set with mention contexts:

In [37]:
with bz2.open('contexts.tsv.bz2') as source:
    df_contexts = pd.read_csv(source, sep='\t', quoting=csv.QUOTE_NONE)

This data frame contains, for each ambiguous mention $m$ and each knowledge base entity $e$ to which this mention can refer, up to 100 randomly selected contexts in which $m$ is used to refer to $e$. For this data, a **context** is defined as the 5 tokens to the left and the 5 tokens to the right of the mention. Here are a few examples:

In [38]:
df_contexts.head()

,mention,entity,context
0,1970,UEFA_Champions_League,Cup twice the first in @ and the second in 1983
1,1970,FIFA_World_Cup,America 1975 and during the @ and 1978 World C...
2,1990 World Cup,1990_FIFA_World_Cup,Manolo represented Spain at the @
3,1990 World Cup,1990_FIFA_World_Cup,Hašek represented Czechoslovakia at the @ and ...
4,1990 World Cup,1990_FIFA_World_Cup,renovations in 1989 for the @ The present capa...

Note that, in each context, the position of the mention is indicated by the `@` symbol.

From this data frame, it is easy to select the data that you need to train the classifiers – the contexts and corresponding entities for all mentions. To illustrate this, the following cell shows how to select all contexts that belong to the mention &lsquo;Lincoln&rsquo;:

In [39]:
df_contexts.context[df_contexts.mention == 'Lincoln']

41465    Nebraska Concealed Handgun Permit In @ municip...
41466    Lazlo restaurants are located in @ and Omaha C...
41467    California Washington Overland Park Kansas @ N...
41468    City Missouri Omaha Nebraska and @ Nebraska It...
41469    by Sandhills Publishing Company in @ Nebraska USA
                               ...
41609                                      @ Leyton Orient
41610                    English division three Swansea @
41611    league membership narrowly edging out @ on goa...
41612                                          @ Cambridge
41613                                                   @
Name: context, Length: 149, dtype: object

In [40]:
df_contexts[df_contexts.mention == 'Sweden']

,mention,entity,context
70739,Sweden,Sweden,stayed with Nash at Oerkelljunga @ with Prem Z...
70740,Sweden,Sweden,Ekerö Municipality Stockholm County southeaste...
70741,Sweden,Sweden,foreign relations between Argentina and @ Both...
70742,Sweden,Sweden,Pettersson July 1903 in Älvsbyn @ 18 November ...
70743,Sweden,Sweden,structure located in Uddevalla Bohuslän @ It i...
...,...,...,...
70935,Sweden,Sweden_national_football_team,appearance on November 13 against @ in home de...
70936,Sweden,Sweden_national_football_team,struck the other two against @ in the last fif...
70937,Sweden,Sweden_national_football_team,football midfielder who played for @ in the 19...
70938,Sweden,Sweden_national_football_team,The group consisted of hosts @ fellow Scandina...
70939,Sweden,Sweden_men's_national_ice_hockey_team,@

Implement the context-sensitive disambiguation method and evaluate its performance.  Do this in two parts, first implementing a function that builds the classifiers _(refer to the text above for a detailed description)_, then implementing a prediction function that uses these classifiers to perform the entity prediction.

Here are some more **hints** that may help you along the way:

1. The prior probabilities for a Naive Bayes classifier can be specified using the `class_prior` option. You will have to provide the probabilities in the same order as the alphabetically sorted class (entity) names.

2. Not all mentions in the knowledge base are ambiguous, and therefore not all mentions have context data. If a mention has only one possible entity, pick that one. If a mention has no entity at all, predict the `--NME--` label.

In [41]:
'''
my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
additional_dict = {'key4': 'value4', 'key5': 'value5'}

my_dict.update(additional_dict)

print(my_dict)

'''

"\nmy_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}\nadditional_dict = {'key4': 'value4', 'key5': 'value5'}\n\nmy_dict.update(additional_dict)\n\nprint(my_dict)\n\n"

In [42]:
from sklearn.pipeline import make_pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

def build_entity_classifiers(df_kb, df_contexts):
    """Build Naive Bayes classifiers for entity prediction.

    Arguments:
        df_kb: A data frame with the knowledge base.
        df_contexts: A data frame with contexts for each mention.

    Returns:
        A dictionary where the keys are mentions and the values are Naive Bayes
        classifiers trained to predict the correct entity, given the textual
        context of the mention (as described in detail above).
    """
    # YOUR CODE HERE
    classifier = {}
    
    
    mentions_list = df_contexts.mention.unique()
    
    for mention in mentions_list:
        data_train = df_contexts[df_contexts['mention'] == mention][['entity','context']]
        pr_prior = df_kb.loc[df_kb.mention == mention][['entity','prob']].sort_values(by='entity').prob

        clf = make_pipeline(CountVectorizer(),
                            MultinomialNB(class_prior=pr_prior))
        clf.fit(data_train.context,data_train.entity)
        classifier.update({mention:clf})
    
    return(classifier)

In [43]:
df_contexts[df_contexts['mention'] == 'Sweden'][['entity','context']]

,entity,context
70739,Sweden,stayed with Nash at Oerkelljunga @ with Prem Z...
70740,Sweden,Ekerö Municipality Stockholm County southeaste...
70741,Sweden,foreign relations between Argentina and @ Both...
70742,Sweden,Pettersson July 1903 in Älvsbyn @ 18 November ...
70743,Sweden,structure located in Uddevalla Bohuslän @ It i...
...,...,...
70935,Sweden_national_football_team,appearance on November 13 against @ in home de...
70936,Sweden_national_football_team,struck the other two against @ in the last fif...
70937,Sweden_national_football_team,football midfielder who played for @ in the 19...
70938,Sweden_national_football_team,The group consisted of hosts @ fellow Scandina...
70939,Sweden_men's_national_ice_hockey_team,@

In [54]:
def extended_dictionary_method(df, classifiers, df_kb):
    """An entity linker that resolves each mention to the most probably entity in a knowledge base.

    Arguments:
        df: A data frame containing the mention spans.
        classifiers: A dictionary of classifiers as produced by the
            `build_entity_classifiers` function.
        df_kb: A data frame with the knowledge base. (Should be used
            to look up a mention if it doesn't have a classifier.)

    Yields:
        The predicted mention spans in the specified data frame as
        quadruples consisting of the sentence id, start position, end
        position and the predicted entity label of each span.
    """
    # YOUR CODE HERE
    set_intersection = set(df_kb.mention).intersection(set(df_contexts.mention))

    for row in df.itertuples():
        idx, id, sentence, beg, end, label = row
        mention = ' '.join(sentence.split()[beg:end])
        if mention in set(df_kb.mention):
            if mention in set_intersection:
                classifier = classifiers[mention]
                label = classifier.predict([' '.join(sentence.split()[beg-5:end+5])])[0]
                
                
            else:
                label = df_kb.loc[df_kb.mention==mention,'entity'].iloc[0]
                
        else:
            label ='--NME--'
        
        yield(id,beg,end,label)

### 🤞 Test your code

The cell below shows how your functions should all come together.

In [59]:
def extended_dictionary_method(df, classifiers, df_kb):
    """An entity linker that resolves each mention to the most probably entity in a knowledge base.

    Arguments:
        df: A data frame containing the mention spans.
        classifiers: A dictionary of classifiers as produced by the
            `build_entity_classifiers` function.
        df_kb: A data frame with the knowledge base. (Should be used
            to look up a mention if it doesn't have a classifier.)

    Yields:
        The predicted mention spans in the specified data frame as
        quadruples consisting of the sentence id, start position, end
        position and the predicted entity label of each span.
    """
    for row in df.itertuples():
        idx,id,sentence,beg,end,label = row
        mention = ' '.join(sentence.split()[beg:end])
        try:
            classfier = classifiers[mention]
            tokens = ' '.join(sentence.split())
            label = classfier.predict(tokens[beg-5:beg]+['@']+tokens[end:end+5])[0]
        except:
            try:
                label = df_kb.loc[df_kb.mention == mention].entity.iloc[0]
            except:
                label = "--NME--"


        yield (id,beg,end,label)


    # YOUR CODE HERE
    # raise NotImplementedError()

In [60]:
classifiers = build_entity_classifiers(df_kb, df_contexts)
mentions_dev_pred_dictionary = set(extended_dictionary_method(df_dev_pred, classifiers, df_kb))

Finally, the cell below evaluates the results as before. You should expect to see a small (around 1&nbsp;unit) increase in each of precision, recall, and F1.

In [100]:
text_test= df_contexts.context[df_contexts.mention == "Swedish"][70940]

In [ ]:
classifiers["Swedish"].predict([text_test])[0]

In [61]:
scores = evaluation_scores(mentions_dev_gold, mentions_dev_pred_dictionary)
print_evaluation_scores(scores)
assert scores[0] > .67, "Precision should be above 67%."
assert scores[-1] > .61, "F1-score should be above 61%."
success()

Precision: 0.659, Recall: 0.549, F1: 0.599

AssertionError: Precision should be above 67%.

**Congratulations on finishing this lab! 👍**

<div class="alert alert-info">
    
➡️ Don't forget to **test that everything runs as expected** before you submit!

</div>